@use "mixin" as *;

.b{
    color: black;
    border: 1px solid black;
    padding: 10px 40px;
    margin: 50px 0;
    font-weight: 600;
    transition: all .3s;
    z-index: 1;


    &.slide{
        position: relative;
        overflow: hidden;

        &::before{
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition:  .3s cubic-bezier(0.42, 0, 0.37, 2.37);
        }

        &:hover {
            color: white;

            &::before{
                content: '';
                transform: none;
                z-index: -10;
            }
        }
    }
}

.aaa{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: violet;
    margin: 0 auto;
    // animation: a 1s infinite;
    @include animation($name: b,$iteration-count: infinite);
}

@keyframes a{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

@keyframes b{
    0%{
        transform: scale(.5);
    }

    80%{
        transform: scale(1);
    }
}

.load{
    & div{
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: black;
        border-radius: 50%;
        margin: 2px;
        animation: a 1.4s infinite;

        @for $i from 1 through 2{
            &:nth-of-type(#{$i}){
                animation-delay: calc(-0.32s / $i);
            }
        }
    }
}

.spiner{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #333;
    margin: 0 auto;
    @include animation(
        $name: c,
        $iteration-count: infinite,
        $duration: 3s
    );
}

@keyframes c{
    0%{
        transform: perspective(120px) rotateX(0);
    }
    50%{
        transform: perspective(120px) rotateX(-180deg) rotateY(0);
    }
    100%{
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

.rect{
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    background-color: violet;
    letter-spacing: -2px;

    & > p{
        display: inline-block;
        height: 100%;
        width: 6px;
        background-color: #333;
    }
}

.title{
    font-size: 30px;
    font-weight: 400;

    &.inview{
        //半角スペースで子要素の指定
        & .char{
            //inline-block じゃないとtransform無視される(inlineはtransform無視)
            display: inline-block;
            @include animation(
                $name: animateChar,
                $duration: .5s,
                $timing-function: ease,
                $fill-mode: both
            );

            @for $i from 1 through 5{
                &:nth-child(#{$i}){
                    animation-delay: $i * .04s;
                }
            }
        }
    }
}

@keyframes animateChar{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    70%{
        opacity: .9;
        transform: translateY(10%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.h1{
    font-size: 80px;
}
